<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script scr="http://www.chartjs.org/samples/latest/utils.js"></script>
  </head>
  <body>
    <canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ["Male", "Female",],
        datasets: [{
            data: [50, 21,],
            backgroundColor: [
              "#245678",
              "#123456",
            ],
        }]
    },
    options: {
          responsive: true,
          legend: {
            position: 'top'
          },
          title: {
            display: true,
            text: 'AU MBA 16-18 Gender distribution',
          },
          animation: {
            animateScale: true,
            animateRotate: true
          },
        },
});
</script>
  </body>
</html>
